.invisible {
  visibility: hidden;
}

.raindrop,
.raindrop-parts {
  --translate-y: 0;

  transform: translateY(var(--translate-y));
}

.raindrop-part {
  visibility: hidden;
}

.animation-fall {
  animation: animation-fall 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s 1 normal forwards;
}

@keyframes animation-fall {

  to {
    visibility: hidden;
    transform: translateY(var(--fall-y));
  }

}

.animation-break-off {
  animation: animation-break-off 0.48s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
}

@keyframes animation-break-off {

  0% {
    visibility: visible;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    stroke-dashoffset: var(--break-off-dashoffset);
  }

}

.animation-fade-in {
/* TODO: Создать функцию, возвращающую обратную функцию Безье */
  animation: animation-fade-in 0.4s cubic-bezier(0.315, 0.78, 0.105, 0.97) 0s 1 normal forwards;
}

@keyframes animation-fade-in {

  0% {
    opacity: 0;
    visibility: visible;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(var(--fade-in-y));
  }

}