.invisible {
  visibility: hidden;
}

.animation-fall {
  --fall-y: none;

  animation: animation-fall 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s 1 normal forwards;
}

.animation-fade-in {
  --fade-in-y: none;

  animation: animation-fade-in 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s 1 normal forwards;
}

.raindrop, .raindrop-parts {
  --translate-y: 0;
  
  transform: translateY(var(--translate-y));
}

.raindrop-parts.animation-break-off .raindrop-part {
  animation: animation-break-off 0.48s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
}

.raindrop-part {
  --stroke-dashoffset: none;

  visibility: hidden;
}

@keyframes animation-fall {

  to {
    visibility: hidden;
    transform: translateY(var(--fall-y));
  }

}

@keyframes animation-break-off {

  0% {
    visibility: visible;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    stroke-dashoffset: var(--stroke-dashoffset);
  }

}

@keyframes animation-fade-in {
  
  0% {
    opacity: 0;
    visibility: visible;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(var(--fade-in-y));
  }
  
}