.raindrop.animation-fall {
  --translate-y: none;

  animation: animation-fall 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s 1 normal forwards;
}

.raindrop-parts {
  display: none;
}

@keyframes animation-fall {

  0% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(var(--translate-y));
  }

}