.animation-fall {
  --translate-y: none;

  animation: animation-fall 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s 1 normal forwards;
}

.raindrop-part {
  --stroke-dashoffset: none;
}

.raindrop-parts.animation-break-off .raindrop-part {
  animation: animation-break-off 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
}

@keyframes animation-fall {

  0% {
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    transform: translateY(var(--translate-y));
  }

}

@keyframes animation-break-off {

  to {
    stroke-dashoffset: var(--stroke-dashoffset);
  }

}